/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

/* The main scrollbar **track** CSS class  */
.ChatScroll .scroll-bar:horizontal .track,
.ChatScroll .scroll-bar:vertical .track{
	-fx-background-color: #414b66;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.ChatScroll .scroll-bar:horizontal .increment-button ,
.ChatScroll .scroll-bar:horizontal .decrement-button {
    -fx-background-color: #414b66;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.ChatScroll .scroll-bar:vertical .increment-button ,
.ChatScroll .scroll-bar:vertical .decrement-button {

    -fx-background-color: #414b66;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;

}

.ChatScroll  .scroll-bar .increment-arrow,
.ChatScroll  .scroll-bar .decrement-arrow
 {
	-fx-shape: " ";	
	-fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.ChatScroll .scroll-bar:horizontal .thumb,
.ChatScroll .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#414b66,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/* The main scrollbar **track** CSS class  */
.List .scroll-bar:horizontal .track,
.List .scroll-bar:vertical .track{
	-fx-background-color:  #2D3447;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.List .scroll-bar:horizontal .increment-button ,
.List .scroll-bar:horizontal .decrement-button {
    -fx-background-color:  #2D3447;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.List .scroll-bar:vertical .increment-button ,
.List .scroll-bar:vertical .decrement-button {

    -fx-background-color:  #2D3447;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;

}

.List  .scroll-bar .increment-arrow,
.List  .scroll-bar .decrement-arrow
 {
	-fx-shape: " ";	
	-fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.List .scroll-bar:horizontal .thumb,
.List .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #2D3447,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}


.List .list-cell:selected{
    -fx-background-color:   #03add7
}
.List .list-cell{
    -fx-background-color: #2D3447
    }

.List .list-cell:hover{
    -fx-background-color:   #414b66
}

.List .list-cell:hover:selected{
    -fx-background-color:  #03add7
}


.ChatScroll .list-cell:selected{
    -fx-background-color:   #03add7
}
.ChatScroll .list-cell{
    -fx-background-color:  #495572
    }

.ChatScroll .list-cell:hover{
    -fx-background-color:   #414b66
}

.ChatScroll .list-cell:hover:selected{
    -fx-background-color:  #03add7
}


.Label11
{
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-font-size: 14;
}

.name{

     -fx-font-weight: bold;
   -fx-font-size: 12;
    
}
