.chat-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
}

.chat-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border-right-color: #00aabb;
	border-left: 0;
	border-top: 0;
	margin-top: -14.5px;
	margin-left: -29px;
}